/* Configurações de Página */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f1ee; /* Cor creme de café */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #432818;
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
}

/* Estilização dos Inputs */
input {
    width: 300px;
    display: block; /* Garante que fiquem um embaixo do outro */
    margin: 10px 0;
    padding: 12px 15px;
    border: 2px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border-color: #99582a;
    box-shadow: 0 0 10px rgba(153, 88, 42, 0.2);
    background-color: #fff;
}

/* Botão de Registro */
button {
    width: 300px;
    background: #6b3e26;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
    transition: background 0.3s, transform 0.2s;
}

button:hover {
    background: #432818;
    transform: scale(1.02);
}

/* Link de Login */
p {
    margin-top: 20px;
    color: #666;
}

a {
    color: #99582a;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.google { background: #db4437;
display: block }
.facebook { background: #4267B2;
    display: block 
}
.apple { background: #000000;
     box-sizing: border-box;
     display: block
 }
 .btn-voltar {
    display: inline-block;
    margin-top: 15px;
    color: #8b5e3c; /* Um marrom médio */
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s ease;
    border-bottom: 1px solid transparent;
}

.btn-voltar:hover {
    color: #432818; /* Marrom escuro ao passar o mouse */
    border-bottom: 1px solid #432818;
    transform: translateX(-5px); /* Pequeno efeito de deslizar para a esquerda */
}